<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["style.css"]" />
    <link rel="stylesheet" href="@Assets["Library.styles.css"]" />
    <link rel="icon" href="@Assets["favicon.png"]" />
    <title>Library</title>
    <link rel="manifest" href="@Assets["manifest.webmanifest"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
